@page "/"
<PageTitle>Startsida</PageTitle> 

<div class="home">
    <h1>
        Hi
    </h1>
    <p> This assignment aims to gain a basic understanding of ASP.net Core and be able to create a simple website using ASP.net and Blazor </p>
    <Clock />
</div>
