@inherits LayoutComponentBase

<header>
    <div class="logo">
        <NavLink href="/" > Laboration 1.2</NavLink>
    </div>
</header>

<main class="container">
    <aside class="aside">
        <NavMenu />
    </aside>
    <div class="content">
        @Body
    </div>
</main>

<footer>
    <div>
        <p> By Alaa Zaza, Contact me via: <a href="mailto: alza2100@student.miun.se">alza2100@student.miun.se</a> </p>
    </div>
</footer>


