<nav>
    <ul id="nav-list">
        <li class="nav-item">
            <NavLink href="/" Match="NavLinkMatch.All">HomePage</NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="/convert">Convert</NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="/json">FetchData</NavLink>
        </li>
    </ul>
</nav>
